<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204181601632-f3ldc50m7iouq2objqnla5ri1pjlu85e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204181601632-f3ldc50m7iouq2objqnla5ri1pjlu85e</string>
	<key>API_KEY</key>
	<string>AIzaSyCW3l6flDms4T2Ij-Ke6HzmgOqyiok8RpI</string>
	<key>GCM_SENDER_ID</key>
	<string>204181601632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.befe.toDoList-demo</string>
	<key>PROJECT_ID</key>
	<string>todolist-fbfda</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-fbfda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204181601632:ios:864a7a07152042ea10b205</string>
</dict>
</plist>